@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    interpolate-size: allow-keywords;
}

html {
    max-width: 100dvw;
    max-height: 100dvh;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: rgba(64, 130, 109, 0.5) rgba(2, 20, 15, 1);
}

@layer base {
    * {
        @apply box-border border-border;
    }
    body {
        @apply bg-background text-foreground font-montserrat;
    }
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }
    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer components {
    nav {
        @apply bg-stone-300 w-full h-12 flex items-center justify-between gap-5 absolute z-50;
    }
    .nav-section {
        @apply flex gap-3 px-3;
    }
    .container {
        @apply min-h-screen min-w-full flex items-center justify-center;
    }
    form {
        @apply flex flex-col items-center gap-3 md:w-2/3 w-full rounded-xl;
    }
    .form-span {
        @apply flex flex-col w-full gap-3;
    }
    .authform {
        @apply w-full
    }
    .authform span {
        @apply w-full items-center flex justify-center gap-1;
    }
    .authform span label,
    .draft-form label {
        @apply self-start;
    }
    .auth-input,
    .draft-form input {
        @apply w-full p-2 border-2 border-slate-950 rounded-xl;
    }
    .auth-input:not(:placeholder-shown):invalid {
        @apply outline-red-500;
    }
    .auth-input:not(:placeholder-shown):valid {
        @apply outline-green-500;
    }
    .auth-input:focus:invalid {
        @apply outline-yellow-500;
    }
    .auth-input:not(:placeholder-shown):invalid:not(:focus) {
        @apply border-red-500;
    }
    .auth-input:not(:placeholder-shown):valid:not(:focus) {
        @apply border-green-500;
    }
    .authform button,
    .draft-form button {
        @apply border-2 border-slate-950 px-3 py-1 rounded-xl mt-5;
    }
    .hotel-search-form button,
    .hotel-reset-btn {
        @apply border-2 border-slate-950 px-3 py-1 rounded-xl mt-5 w-fit;
    }
    .hotel-search-form input {
        @apply w-fit p-2 border-2 border-slate-950 rounded-xl cursor-pointer;
    }
    .hotel-item {
        @apply w-fit h-fit;
    }
    .poi-content {
        @apply ml-4;
    }
    .imgcredit {
        @apply font-semibold;
    }
    .imgcredit:hover {
        text-shadow: 0px 0px 10px #1f51ff;
    }
}

.draft-form {
    scrollbar-gutter: stable both-edges;
    scrollbar-width: thin;
}

.active {
    @apply font-bold text-sky-500;
}

.nav-section.auth-btns .active {
    @apply text-white;
}

.itinerary-modal[open] {
    display: block;
    opacity: 1;
    translate: 0 0;

    @starting-style {
        opacity: 0;
        translate: 0 -15vh;
    }
}

.itinerary-modal {
    display: none;
    opacity: 0;
    translate: 0 15vh;
    transition: all 0.6s ease-in-out;
    transition-behavior: allow-discrete;
}

@layer utilities {
    .text-shadow-gradient {
        text-shadow: -5px -2px 0px #009E60;
        color: white
    }
    .text-shadow-gradient:hover {
        text-shadow: 5px 2px 0px rgba(0, 158, 96, 0.8),
            6px 3px 0px rgba(0, 158, 96, 0.7),
            7px 4px 0px rgba(0, 158, 96, 0.6),
            8px 5px 0px rgba(0, 158, 96, 0.5),
            9px 6px 0px rgba(0, 158, 96, 0.4),
            10px 7px 0px rgba(0, 158, 96, 0.4),
            11px 8px 0px rgba(0, 158, 96, 0.3),
            12px 9px 0px rgba(0, 158, 96, 0.3),
            13px 10px 0px rgba(0, 158, 96, 0.3),
            14px 11px 0px rgba(0, 158, 96, 0.3),
            15px 12px 0px rgba(0, 158, 96, 0.2),
            16px 13px 0px rgba(0, 158, 96, 0.2),
            17px 14px 0px rgba(0, 158, 96, 0.2),
            18px 15px 0px rgba(0, 158, 96, 0.1),
            19px 16px 0px rgba(0, 158, 96, 0.1),
            20px 17px 0px rgba(0, 158, 96, 0.1);
        transition: text-shadow 0.3s ease;
    }
    .small-bento-card > div {
        @apply pt-5;
    }
}
