@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply m-0 p-0 h-[dvh] w-[dvw];
    }
}

@layer components {
    nav {
        @apply bg-stone-300 w-full h-12 flex items-center justify-center gap-5;
    }
}
.cl-modalContent {
    margin: auto;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}
